.c1, .c2, .c3, .c4, .c5, .c6{
    height: 7em;
    width: 7em;
    border: 0.2em solid; 
    margin: 0.2em;
    float: left;
    text-align: center;
}
.c1{
    background-image: url="";
    border-radius: 20% 20% 40% 40%;
}
.c2{
    background-color: aqua;
    border-radius: 40% 0%;
}
.c3{
    background-color: greenyellow;
    border-radius: 50%;
}
.c4{
    background-color: palevioletred;
    border-radius: 20% 40%;
}
.c5{
    background-color: red;
    border-radius: 20% 40%;
}
.c6{
    border: white;
}
.clear{
    clear: both;
}