body{
    width: 50%;
}
table{
    width: 50em;
    height: 50em;
    border-collapse: collapse; 
}
.noir{
    background: black;
}
.marron{
    background: #42291c;
}
.brun{
    background: hsl(29, 32%, 22%);
}
.rose{
    background: #f8b195;
}
.roseh{
    background: #ffa06f;
}
.vert{
    background: #4a772f;
}
.vertf{
    background: #2E5A1C;
}
.vertc{
    background: #7DA87B;
}
.vertff{
    background: #012c0b;
}
.creme{
    background: #fbfae1;
}
.jaune{
    background: yellow;
}
.bois{
    background: #a55540;
}
.boisf{
    background: #681a1e;
}
.kaki{
    background: #466541;
}
.kakif{
    background: #535a3b;
}