body{
    background-color: blue;
}
#contenu{
    width: 60%;
    margin: 0 auto;
    background-color: aliceblue;
}
header{
    background-color: brown;
    text-align: center;
    padding-left: 20px;
    padding-top: 6px;
}
main{
    height: 500px;
    margin: 10px;
    text-align: center;
}

#a{
    height: 450px;
    width: 16%;
    background-color: #3f52e3;
}
.b{
    height: 600px;
    width: 20px;
    background-color: #1dcd9f;
}
footer{
    background-color: #feff9a;
    width: 60%;
}