#contenu{
    width: 60%;
    margin: 0 auto;
    background-color: aliceblue;
}
header{
    height: 100px;
    background-color: red;
    text-align: center;
    padding-left: 20px;
    padding-top: 6px;
}
section{
    height: 692px;
    margin: 0 auto;
}
.gauche, .droite, .z_milieu{
    float: left;
    text-align: center;
}
.gauche, .droite{
    width: 19%;
    height: 280px;
    border: 1px solid blue;
    background-color: blue;
    padding-top: 30%;
}
.z_milieu{
    width: 12%;
    height: 160px;
    border: 1px solid white;
    background-color: greenyellow;
    padding-top: 30%;
}
.bas{
    width: 60%;
    margin: 0 auto;
    border: 1px solid yellow;
    background-color: yellow;
    text-align: center;
}
.clear{
    clear: both;  /* annule l'effet flottant du 'float: left' et du 'float: right' */